@charset "UTF-8";
/* --------------------
        colors
-------------------- */
/* --------------------
        @media
-------------------- */
/* --------------------
        fonts
-------------------- */
html {
  font-size: 100%;
}

/* 基本のフォント */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}

/* 見出しなど用 */
/* font2の上下余白を調整 */
.font2:not(.header-nav-item) {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.3;
}
.font2:not(.header-nav-item)::before, .font2:not(.header-nav-item)::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.font2:not(.header-nav-item)::before {
  margin-bottom: calc(-0.2375em + 0px);
}
.font2:not(.header-nav-item)::after {
  margin-top: calc(-0.33125em + 0px);
}

/* 名前の漢字用 */
.font3 {
  /* フォントの上下余白を調整 */
  font-family: "Senobi-Gothic", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.2em;
  line-height: 1.3;
}
@font-face {
  font-family: "Senobi-Gothic";
  src: url(/font/Senobi-Gothic-Medium.ttf) format("truetype");
}
.font3::before, .font3::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.font3::before {
  margin-bottom: calc(-0.20625em + 0px);
}
.font3::after {
  margin-top: calc(-0.1671875em + 0px);
}
@media screen and (max-width: 767px) {
  .font3 {
    font-size: 1.6rem;
  }
}

/* スキルの見出し用 */
.font4 {
  font-family: "Inter", sans-serif;
  font-size: 1.8125rem;
}
@media screen and (max-width: 767px) {
  .font4 {
    font-size: 1rem;
  }
}

/* --------------------
        z-index
-------------------- */
/* 共通 */
/* TOP */
/* ABOUT */
/* --------------------
      全体で共通
-------------------- */
a {
  cursor: pointer;
}

section {
  padding: 64px 0 104px 0;
}
@media screen and (max-width: 767px) {
  section {
    padding: 72px 16px;
  }
}

.contents {
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contents {
    width: 100%;
  }
}

.h2 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.4375rem;
  border-bottom: 4px solid #EB5C01;
  margin: 0 auto 120px;
  padding: 0 0 6px 0;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 2rem;
    margin: 0 auto 56px;
    padding: 0 0 4px 0;
  }
}

/* 改行 */
.br-pc {
  display: inline;
}
@media screen and (max-width: 767px) {
  .br-pc {
    display: none;
  }
}

.br-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

/* -------------------
        body
------------------- */
.container_header-main {
  display: flex;
  animation: fadeIn 0.5s forwards;
  scroll-behavior: smooth;
  /* ページ遷移時にふわっと表示する */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .container_header-main {
    display: block;
  }
}

/* -------------------
        header
------------------- */
.header {
  background-color: #EB5C01;
  width: 10%;
  max-width: 192px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-top: 64px;
  position: sticky;
  z-index: 100;
  /* logo・h1・hamburger-menuのコンテナ */
  /* ロゴ画像 */
  /* h1・矢印のコンテナ */
  /* h1 */
  /* 矢印 */
  /* 矢印の先の部分　画像 */
  /* ハンバーガーメニューのアイコン */
  /* ナビゲーション */
  /* 子ページを開いている時のマーク */
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    max-width: none;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}
.header .container_logo-h1-hamburger-menu {
  background-color: #EB5C01;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}
@media screen and (max-width: 767px) {
  .header .container_logo-h1-hamburger-menu {
    display: flex;
    width: 100%;
    padding: 16px;
  }
}
.header .logo {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 128px;
}
@media screen and (max-width: 767px) {
  .header .logo {
    width: 48px;
    max-width: none;
  }
}
.header .container_h1 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  position: absolute;
  top: 64px;
  left: 100%;
}
@media screen and (max-width: 767px) {
  .header .container_h1 {
    position: initial;
    padding: 4px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
  }
}
.header .main-title {
  color: #fff;
  font-size: 2rem;
  writing-mode: vertical-rl;
  margin: 0 0 16px 0;
  -webkit-text-stroke: 0.5px #000;
  /* topページ以外のPC版では表示しない */
}
@media screen and (max-width: 767px) {
  .header .main-title {
    font-size: 1.5rem;
    writing-mode: horizontal-tb;
    margin: 0;
    padding-inline: 8px;
    -webkit-text-stroke: 0;
  }
}
.header .main-title.not-top {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .main-title.not-top {
    display: block;
  }
}
.header .main-arrow {
  background-color: #fff;
  width: 3px;
  height: 80px;
  position: relative;
  border: 0.5px solid #000;
  border-radius: 0 0 4px 4px;
  transition: all 1s linear(0, 0.25, 0.5, 0.75, 1, 0.9, 0.95, 1);
}
.header .main-arrow.load {
  height: calc(100vh - 337px);
}
@media screen and (max-width: 960px) {
  .header .main-arrow.load {
    height: 513px;
  }
}
@media screen and (max-width: 767px) {
  .header .main-arrow {
    display: none;
  }
}
.header .main-arrow-img {
  display: block;
  width: 16px;
  position: relative;
  top: -13px;
}
@media screen and (max-width: 767px) {
  .header .main-arrow-img {
    display: none;
  }
}
.header .hamburger-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .hamburger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.header .hamburger-icon-dots1,
.header .hamburger-icon-dots2 {
  display: block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.4s ease;
  transform-origin: center;
}
.header .hamburger-icon-dots1::before,
.header .hamburger-icon-dots2::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  margin-top: -12px;
}
.header .hamburger-icon-dots1::after,
.header .hamburger-icon-dots2::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  margin-top: 12px;
}
.header .hamburger-icon-dots1.active {
  transform: rotate(225deg);
}
.header .hamburger-icon-dots2.active {
  transform: rotate(-225deg);
}
.header .header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
  z-index: 80;
}
@media screen and (max-width: 767px) {
  .header .header-nav {
    width: 100%;
    height: 48px;
    justify-content: space-between;
    position: absolute;
    top: -48px;
    left: 0;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background-color: #EB5C01;
  }
  .header .header-nav.open {
    transform: translateY(128px);
  }
}
@media screen and (max-width: 767px) {
  .header .header-nav-list {
    width: 100%;
    display: flex;
  }
}
.header .header-nav-item {
  font-size: max(2.5vw, 1.4rem);
  color: #fff;
  text-align: center;
  margin-bottom: 5vh;
}
@media screen and (max-width: 767px) {
  .header .header-nav-item {
    font-size: 1.5rem;
    height: 48px;
    width: 33%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .header .header-nav-item:not(:last-child) {
    border-right: solid 1px #fff;
  }
}
.header .header-nav-item.open::before {
  content: "> ";
}
.header .header-nav-item.open::after {
  content: " <";
}

/* --------------------
        main
-------------------- */
.container_main-footer {
  width: 90%;
}
@media screen and (max-width: 767px) {
  .container_main-footer {
    width: 100%;
  }
}

/* --------------------
      about section
-------------------- */
.about-section {
  background-color: #DEDDDD;
  /* ↓viewmoreをposition: absolute;にしたことで下に余白ができているので、基本設定から調整 */
  padding: 64px 0 98px 0;
  position: relative;
  /* ファーストビュー　画像 */
  /* 名前・自己紹介・view more */
  /* 疑似要素を右にずらす　@keyframes */
  /* 名前コンテナ・自己紹介コンテナで共通の内容　@mixin */
  /* 名前コンテナ */
  /* 自己紹介コンテナ */
  /* テキストを表示する@mixin */
  /* 名前コンテナ・自己紹介コンテナ内のテキスト全てに共通 */
  /* 名前　アルファベット表記の設定 */
  /* viewmoreボタン */
}
@media screen and (max-width: 767px) {
  .about-section {
    padding: 24px 0 38px 0;
  }
}
.about-section .container_firstview {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 0;
}
.about-section .firstview-imgs {
  display: flex;
}
.about-section .firstview-img {
  margin-left: -30px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-section .firstview-img1,
.about-section .firstview-img2,
.about-section .firstview-img3 {
  display: block;
  width: 35vw;
}
.about-section .firstview-orange,
.about-section .firstview-blue {
  width: 30vw;
  z-index: -1;
}
@keyframes path {
  100% {
    offset-distance: 100%;
  }
}
@media screen and (max-width: 767px) {
  .about-section .container_about-texts {
    width: 100%;
    padding: 0 16px;
  }
}
@keyframes display {
  100% {
    transform: translateX(100%);
  }
}
.about-section .container_name {
  background-color: #fff;
  width: 0;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  opacity: 0;
  /* 右にずらす疑似要素 */
  height: 50px;
  display: flex;
  margin-bottom: 320px;
  transition: all 0.6s ease-in-out;
}
.about-section .container_name.load {
  opacity: 1;
  padding: 12px 24px;
}
@media screen and (max-width: 767px) {
  .about-section .container_name.load {
    padding: 12px 20px;
  }
}
.about-section .container_name::before {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .about-section .container_name {
    display: block;
    height: 87px;
    margin-bottom: 360px;
  }
}
.about-section .container_name.load {
  width: 285px;
}
@media screen and (max-width: 767px) {
  .about-section .container_name.load {
    width: 156px;
  }
}
.about-section .container_name::before {
  animation: display 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.6s forwards;
}
@media screen and (max-width: 767px) {
  .about-section .container_name::before {
    animation: display 0.7s cubic-bezier(0.4, 0, 0.2, 1) 1.1s forwards;
  }
}
.about-section .container_self-introduction {
  background-color: #fff;
  width: 0;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  opacity: 0;
  /* 右にずらす疑似要素 */
  height: 112px;
  margin: 0 0 0 calc(100% - 396px);
  transition: all 0.7s ease-in-out;
}
.about-section .container_self-introduction.load {
  opacity: 1;
  padding: 12px 24px;
}
@media screen and (max-width: 767px) {
  .about-section .container_self-introduction.load {
    padding: 12px 20px;
  }
}
.about-section .container_self-introduction::before {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .about-section .container_self-introduction {
    height: 98px;
    margin: 0 0 40px calc(100% - 282px);
  }
}
.about-section .container_self-introduction.load {
  width: 396px;
}
@media screen and (max-width: 767px) {
  .about-section .container_self-introduction.load {
    width: 282px;
    line-height: 1.5rem;
  }
}
.about-section .container_self-introduction::before {
  animation: display 0.7s cubic-bezier(0.4, 0, 0.2, 1) 1.8s forwards;
}
@media screen and (max-width: 767px) {
  .about-section .container_self-introduction::before {
    animation: display 0.7s cubic-bezier(0.4, 0, 0.2, 1) 2.3s forwards;
  }
}
.about-section .name_alphabet,
.about-section .name_kanji,
.about-section .self-introduction-text1,
.about-section .self-introduction-text2 {
  display: none;
}
.about-section .name_alphabet.load,
.about-section .name_kanji.load,
.about-section .self-introduction-text1.load,
.about-section .self-introduction-text2.load {
  display: block;
}
.about-section .name_alphabet {
  font-size: 2rem;
  margin: 0 16px 0 0;
}
@media screen and (max-width: 767px) {
  .about-section .name_alphabet {
    margin: 0 0 8px 0;
  }
}
.about-section .container_viewmore {
  background-color: #EB5C01;
  color: #fff;
  font-size: 1.875rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #000;
  margin: 0 0 0 auto;
  padding: 12px 24px;
  transform: translate(-24px, -30px);
  opacity: 0;
  animation: opacity-fuwa 0.8s forwards 2.5s;
}
@keyframes opacity-fuwa {
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .about-section .container_viewmore {
    font-size: 1.5rem;
    transform: none;
    margin: 0 auto;
  }
}
.about-section .viewmore-text {
  height: -moz-fit-content;
  height: fit-content;
}
.about-section .viewmore-text:hover .viewmore-arrow {
  animation: viewmore-arrow 0.4s infinite alternate;
}
@keyframes viewmore-arrow {
  100% {
    transform: translateX(8px);
  }
}
.about-section .viewmore-arrow {
  display: inline-block;
  margin: 0 0 0 8px;
}

/* --------------------
    works section
-------------------- */
.works-section {
  /* 作業内容のラベル */
  /* img */
}
.works-section .container_works-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 48px;
}
@media screen and (max-width: 767px) {
  .works-section .container_works-contents {
    display: block;
  }
}
.works-section .works-content {
  width: 48%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 80px 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s ease;
  /* スクロールされた時に表示 */
}
@media screen and (max-width: 767px) {
  .works-section .works-content {
    width: 100%;
  }
}
.works-section .works-content.on {
  opacity: 1;
  transform: scale(1);
}
.works-section .label-container {
  pointer-events: none;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  position: absolute;
  top: 16px;
  right: -8px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .works-section .label-container {
    width: 25%;
    position: initial;
  }
}
.works-section .label-top {
  display: none;
}
@media screen and (max-width: 767px) {
  .works-section .label-top {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #DEDDDD;
  }
}
.works-section .label-inner {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .works-section .label-inner {
    margin: 0 0 0 2px;
  }
}
.works-section .label-pole {
  display: none;
}
@media screen and (max-width: 767px) {
  .works-section .label-pole {
    display: block;
    width: 4px;
    border-inline: 1px solid #000;
  }
}
.works-section .labels {
  flex-grow: 1;
  opacity: 0;
  transition: opacity 1s ease;
}
.works-section .labels:last-child {
  margin-bottom: 12px;
}
.works-section .labels.on {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .works-section .labels {
    transform: translateY(120px);
    opacity: 1;
    transition: transform 0.3s ease;
  }
  .works-section .labels.on {
    transform: translateY(0);
  }
}
.works-section .label-design-frame,
.works-section .label-coding-frame {
  box-shadow: 0 0 4px 1px #adadad;
  height: 28px;
  margin-bottom: 8px;
  border: 1px solid #000;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .works-section .label-design-frame,
  .works-section .label-coding-frame {
    border-left: none;
    margin-bottom: 4px;
    box-shadow: none;
  }
}
.works-section .label-design-text,
.works-section .label-coding-text {
  width: 90%;
  height: 100%;
  line-height: 100%;
  padding-top: 4px;
  margin-left: auto;
  font-size: 0.9375rem;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .works-section .label-design-text,
  .works-section .label-coding-text {
    width: 100%;
  }
}
.works-section .label-design-text {
  background-color: #1E92E6;
}
.works-section .label-coding-text {
  background-color: #EB5C01;
}
.works-section .container_works-content-img {
  border: 1px solid #000;
  margin: 0 0 8px 0;
  overflow: hidden;
  position: relative;
}
.works-section .works-content-img {
  width: 100%;
  transition: all 0.5s ease;
}
.works-section .works-content-img:hover {
  transform: scale(1.1, 1.1);
  transform-origin: center;
}
.works-section .works-content-title {
  text-align: center;
}
.works-section .works-content-title:hover {
  opacity: 0.5;
}
.works-section .container_viewmore {
  background-color: #EB5C01;
  color: #fff;
  font-size: 1.875rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 12px 24px;
}
@media screen and (max-width: 767px) {
  .works-section .container_viewmore {
    font-size: 1.5rem;
  }
}
.works-section .viewmore-text {
  height: -moz-fit-content;
  height: fit-content;
}
.works-section .viewmore-text:hover .viewmore-arrow {
  animation: viewmore-arrow 0.4s infinite alternate;
}
@keyframes viewmore-arrow {
  100% {
    transform: translateX(8px);
  }
}
.works-section .viewmore-arrow {
  display: inline-block;
  margin: 0 0 0 8px;
}

/* --------------------
    contact section
-------------------- */
.contact-section {
  background-color: #FBDECC;
}
.contact-section .contact-text {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.contact-section .contact-text:first-of-type {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-text:first-of-type {
    margin: 0 auto 1rem;
  }
}
.contact-section .contact-text:last-of-type {
  margin: 0 auto 64px;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-text:last-of-type {
    margin: 0 auto 48px;
  }
}
.contact-section .contact-button {
  background-color: #EB5C01;
  color: #fff;
  width: 240px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 80px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.contact-section .contact-button:hover {
  background-color: #fff;
  color: #EB5C01;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-button {
    width: 172px;
    height: 56px;
  }
}
.contact-section .contact-button-text {
  font-size: 1.25rem;
  text-align: center;
  line-height: 60px;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-button-text {
    font-size: 1.1rem;
    line-height: 52px;
  }
}

/* --------------------
        footer
-------------------- */
.footer {
  height: 160px;
}
.footer small {
  font-size: 0.8rem;
  display: block;
  line-height: 160px;
  text-align: center;
}

/* --------------------
      about.html
-------------------- */
.aboutme-section {
  position: relative;
  height: 793px;
  overflow: hidden;
  /* 装飾 */
  /* コンテンツ */
}
@media screen and (max-width: 960px) {
  .aboutme-section {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.aboutme-section .container_aboutme-titles {
  width: 100%;
  height: 793px;
  display: flex;
  position: absolute;
  z-index: -1;
}
.aboutme-section .container_aboutme-title-left,
.aboutme-section .container_aboutme-title-right {
  width: 50%;
  display: flex;
  position: relative;
}
.aboutme-section .container_aboutme-title-left {
  justify-content: left;
}
.aboutme-section .container_aboutme-title-right {
  justify-content: right;
}
.aboutme-section .aboutme-title-left,
.aboutme-section .aboutme-title-right {
  color: #fff;
  position: absolute;
  font-size: 10rem;
  width: -moz-fit-content;
  width: fit-content;
}
.aboutme-section .aboutme-title-left {
  -webkit-text-stroke: 1.2px #EB5C01;
  opacity: 0.5;
  top: -182px;
  transform: rotate(90deg);
  transform-origin: bottom left;
  margin-left: -3px;
}
.aboutme-section .aboutme-title-right {
  -webkit-text-stroke: 1.2px #1E92E6;
  opacity: 0.5;
  bottom: 548px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  margin-right: -3px;
}
.aboutme-section .container_aboutme {
  z-index: 1;
}
.aboutme-section .aboutme-name {
  margin: 0 0 32px 0;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 960px) {
  .aboutme-section .aboutme-name {
    margin: 0 auto 32px;
  }
}
.aboutme-section .aboutme-name_alphabet {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  margin: 0 0 24px 0;
}
@media screen and (max-width: 960px) {
  .aboutme-section .aboutme-name_alphabet {
    font-size: 2.5rem;
    margin: 0 0 8px 0;
  }
}
.aboutme-section .aboutme-name_kanji {
  margin-left: -3px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 960px) {
  .aboutme-section .aboutme-name_kanji {
    margin: 0 auto;
    transform: translateX(-3px);
  }
}
.aboutme-section .container_profileimg-selfintro {
  width: 100%;
  height: 504px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .aboutme-section .container_profileimg-selfintro {
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    display: block;
  }
}
.aboutme-section .aboutme-profile-img {
  display: block;
  width: 70%;
  min-width: 560px;
}
@media screen and (max-width: 960px) {
  .aboutme-section .aboutme-profile-img {
    width: 100%;
    min-width: 0px;
    margin: 0 0 40px 0;
  }
}
.aboutme-section .container_selfintro {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
}
@media screen and (max-width: 960px) {
  .aboutme-section .container_selfintro {
    position: initial;
    width: 90%;
    margin: 0 auto;
  }
}
.aboutme-section .aboutme-self-introduction {
  font-size: 1rem;
  margin: 0 0 32px 0;
  padding: 10px 14px;
  border: 1px solid #000;
  background-color: #fff;
}
.aboutme-section .aboutme-self-introduction:last-of-type {
  margin: 0;
}
@media screen and (max-width: 960px) {
  .aboutme-section .aboutme-self-introduction {
    margin: 0;
    padding: 10px 48px;
  }
  .aboutme-section .aboutme-self-introduction:first-of-type {
    border: none;
    border-block: 1px solid #000;
  }
  .aboutme-section .aboutme-self-introduction:not(:first-of-type) {
    border: none;
    border-bottom: 1px solid #000;
  }
}/*# sourceMappingURL=style.css.map */